<body>
<h1 id="header"> How much you can save with NovemberFirst Premium? </h1>
<div id="cover" *ngIf="isServiceAvailable===false">
  <mat-icon svgIcon="express-transfer" id="express-transfer"></mat-icon>
  <h1>The comparison can be calculated only between 5.00 (CET) and 23.00 on working weekdays.
    Come back later! </h1>
</div>

<div id="content" *ngIf="isServiceAvailable===true">
  <form>
    <div id="box-section">
      <div id="box-from">
        <mat-form-field id="fromCountry" appearance="outline" class="from">
          <mat-label>From country</mat-label>
          <mat-select>
            <mat-option #fromCountry
                        value="coun"
                        (blur)="selectCountryFrom(coun.abbreviation, coun.country)"
                        (blur)="selectCountryFrom(coun.abbreviation, coun.country)"
                        (onSelectionChange)="onEnterCountryFrom($event, coun.abbreviation, coun.country)"
                        *ngFor="let coun of fromCountries"
            > {{ coun.abbreviation }}   ({{coun.country}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field id="fromCurrency" appearance="outline" class="from">
          <mat-label>From currency</mat-label>
          <mat-select>
            <mat-option #fromCurrency
                        value="c"
                        (blur)="selectCurrencyFrom(c.currency)"
                        (onSelectionChange)="onEnterCurrencyFrom($event, c.currency)"
                        *ngFor="let c of fromCurrency"
            > {{ c.currency }} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div id="box-icon">
        <mat-icon id="exchange-icon" svgIcon="exchange-arrows"></mat-icon>
      </div>

      <div id="box-to">
        <mat-form-field id="toCountry" appearance="outline" class="to">
          <mat-label>To country</mat-label>
          <mat-select>
            <mat-option #toCountry
                        value="coun"
                        (blur)="selectCountryTo(coun.abbreviation, coun.country)"
                        (onSelectionChange)="onEnterCountryTo($event, coun.abbreviation, coun.country)"
                        *ngFor="let coun of toCountries"
            > {{ coun.abbreviation }}   ({{coun.country}})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field id="toCurrency" appearance="outline" class="to">
          <mat-label>To currency</mat-label>
          <mat-select>
            <mat-option #toCurrency
                        value="c"
                        (blur)="selectCurrencyTo(c.currency)"
                        (onSelectionChange)="onEnterCurrencyTo($event, c.currency)"
                        *ngFor="let c of toCurrency"> {{ c.currency }} {{c.unit_text}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <p>
      <mat-form-field appearance="outline" class="lined">
        <mat-label>Amount of money</mat-label>
        <input #amountMone
               min = "1000"
               max = "10000000000"
               [formControl]="amount"
               type="number"
               name="amount"
               matInput
               required>
        <mat-error *ngIf="amount.invalid">{{getErrorMessageAmount()}}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field id="transactionYearly" appearance="outline" class="lined">
        <mat-label>Number of transactions yearly</mat-label>
        <input #transactions
               min = "1"
               max = "10000000"
               [formControl] = "frequency"
               type="number"
               name="transactions"
               matInput
               required>
        <mat-error *ngIf="frequency.invalid">{{getErrorMessageFrequency()}}</mat-error>
      </mat-form-field>
    </p>

    <button mat-raised-button id="button"
            (click)="submitForm(amountMone.value, transactions.value)">Calculate
    </button>

  </form>

  <mat-card id="summary" *ngIf="submitSent">
    <mat-card-title>
      <mat-icon id="money-icon"></mat-icon>
      Transferring {{ amountMone.value }} {{ selectedCurrencyTo }} from {{ selectedCountryFromFull }}
      to {{ selectedCountryToFull }}, {{ transactions.value }} times.
    </mat-card-title>
  </mat-card>

  <mat-card id="prediction">
    <mat-card-title>
      <mat-icon id="exlamation-icon"></mat-icon>
      This is calculated prediction, the final cost may vary depending on bank’s exchange fees.
    </mat-card-title>
  </mat-card>
  <br>

</div>




<mat-progress-spinner class="spinner"
                      mode="indeterminate"
                      *ngIf="isLoading">
</mat-progress-spinner>

<<div id="missingInfo" *ngIf="isInfoAvailable===false && !isLoading">
  <h1> We don't have enough information on this exchange. Sorry for the inconvenience. </h1>
  <h1> Contact us for a quote!</h1>
</div>

<div *ngIf="isLoaded && !isLoading && isInfoAvailable === true">
  <h1>List of the banks</h1>
  <table mat-table [dataSource]="results">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Bank</th>
      <td mat-cell *matCellDef="let bank"> {{bank.name}} </td>
    </ng-container>

    <ng-container matColumnDef="exchangeRate">
      <th mat-header-cell *matHeaderCellDef> Exchange rate</th>
      <td mat-cell *matCellDef="let bank"> {{bank.exchangeRate.valueOf() | number: '1.0-5'}} </td>
    </ng-container>

    <ng-container matColumnDef="totalFee">
      <th mat-header-cell *matHeaderCellDef> Extra Fee</th>
      <td mat-cell *matCellDef="let bank"> {{bank.totalFee.valueOf() | number: '1.0-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="totalCost">
      <th mat-header-cell *matHeaderCellDef> Total Cost</th>
      <td mat-cell *matCellDef="let bank"> {{bank.totalCost.valueOf() | number: '1.0-2'}} </td>
    </ng-container>

    <ng-container matColumnDef="savings">
      <th mat-header-cell *matHeaderCellDef>Savings</th>
      <td mat-cell
          *matCellDef="let bank"> {{calculateSavings(bank.totalCost.valueOf(), NOVEMBER_FIRST_COST.valueOf()) | number: '1.0-2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'n1-highlight': row.name == 'November First'}"></tr>
  </table>

</div>

<br>

<div id="section-buttons" *ngIf="isLoaded">
  <button mat-raised-button class="bottom-button"> Create an account
  </button>
  <button mat-raised-button class="bottom-button"> Query a demo
  </button>
</div>

<br>
<br>

</body>
