.mat-form-field{
  width: 20%;
  margin-left: 15%;
  margin-right: 15%;
  height: 80px;
  font-size: 15px;
  display: inline-flex;
  align-content: space-evenly;
  justify-content:  center;
}

#button{
  width: 100px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: lightblue;
}

.parag {

  height: 80px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  font-size: 15px;
  align-content: space-evenly;
  width: 60%;
  justify-content: center;
  align-self: center;
}
.lined{
  position: center;
  align-items: center;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}

form {
  width: 100%;
}

h1 {
  width: auto;
  display: block;
  height: 20px;
  font-size: 35px;
  text-align: center;
}


table {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  border-radius:10px;
  border-collapse: separate;
  margin-bottom: 30px;
}

.mat-progress-spinner {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10%;
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: lightblue !important;
}
