<head>
  <title>Calculator</title>
</head>
<body>
<h1 id="header"> How much will I save? </h1>
<form>

    <br>
    <p class="parag">
      <mat-form-field id="fromCountry" appearance="outline" class="fields">
        <mat-label>From country</mat-label>
        <mat-select>
          <mat-option #country
                      value="coun"
                      (blur)="selectCountry(coun.abbreviation)"
                      (onSelectionChange)="onEnterCoun($event, coun.abbreviation)"
                      *ngFor="let coun of countrs"
          > {{ coun.abbreviation }}   ({{coun.country}}) </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field id="toCountry"  appearance="outline" class="fields">
        <mat-label>To country</mat-label>
        <mat-select>
          <mat-option #country
                      value="coun"
                      (blur)="selectCountry(coun.abbreviation)"
                      (onSelectionChange)="onEnterCoun($event, coun.abbreviation)"
                      *ngFor="let coun of countrs"
          > {{ coun.abbreviation }}   ({{coun.country}}) </mat-option>
        </mat-select>
      </mat-form-field>
    </p>


  <br>


  <p class="parag">
      <mat-form-field id="fromCurrency" appearance="outline" class="fields">
        <mat-label>From currency</mat-label>
        <mat-select>
          <mat-option #currency
                      value="c"
                      (blur)="selectCurrency(c.currency)"
                      (onSelectionChange)="onEnterCurr($event, c.currency)"
                      *ngFor="let c of curr"
          > {{ c.currency }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field id="toCurrency"appearance="outline" class="fields">
        <mat-label>To currency</mat-label>
        <mat-select>
          <mat-option #currency
                      value="c"
                      (blur)="selectCurrency(c.currency)"
                      (onSelectionChange)="onEnterCurr($event, c.currency)"
                      *ngFor="let c of curr"
          > {{ c.currency }} </mat-option>
        </mat-select>
      </mat-form-field>
      </p>


  <div class = "lined">
    <p>
      <mat-form-field id="amountMoney"appearance="outline" class="fields">
        <mat-label>Amount of money</mat-label>
        <input #amounMoney
               type="number"
               matInput>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field id="transactionYearly"appearance="outline" class="fields">
        <mat-label>Number of transactions yearly</mat-label>
        <input #transactions
               type="number"
               matInput>
      </mat-form-field>
    </p>
    <br>
    <button mat-raised-button id="button">Submit</button>
    <br>

  </div>



</form>

<br>
<br>
</body>
